#Vendors
/node_modules

#Project configs

#Project build
/dist

# Ignore all logfiles and tempfiles.
npm-debug.log
nohup.out

#Vargant files
.vagrant

#IDE files
/nbproject


#BD dump
*.sql
*.gz
database/*.sql
database/*.sql.bz2